.vimperator/info
home/.config/nvim/backup
home/.config/nvim/swap
home/.config/nvim/bundles
home/.config/nvim/undo
home/.config/fish/config.local.fish
.DS_Store

# .claude directories
home/.claude/todos/
home/.claude/statsig/
home/.claude/projects/

# cache
.users_cache.json
.channels_cache.json
